h1{
    text-align: center;
    width: 50%;
    margin: 25px auto;
}
h3{
    text-align: center;
}
p{
   text-align: center;
   margin-top: 5px;
   margin-bottom: 5px;
}
img{
    display: block;
    margin: auto;
}
