{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/new.css'%}">
{% endblock %}

{% block title %}
    403 Forbidden
 {% endblock %}

 {% block content %}
  <div style="text-align: center; margin-top: 25%;"></div>
    <h1><strong> Error 403: </strong>Forbidden</h1>
    <p>You don't have access to perform this action.</p>
    <h3>{{ message }}</h3>
    <br/>
    <p><a href="{% url 'home' %}">Click Here</a>Go Back</p>
        
    </div>
 {% endblock %}